/*nav{
  background-color: black;
  float: left;
  font: bold 12px Arial, Helvetica, Sans-serif;
  border: 1px solid #121314;
  border-top: 1px solid #2b2e30;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 0px;
  overflow: hidden;
  width:100%;
  min-width: 650px;
  text-align: center
}
*/
li{
  align-items: center;
  display: inline-block;
  list-style-type:none;
}