/* NOTE: window */

div.window{
  border: solid gray;
  width: auto;
  height: auto;
  font-family: arial, sans-serif;
}

div.mainwindow, div.modalwindow {
  border: solid springgreen;
  display: flex;
  justify-content: center;
}

div.items {
  border: solid purple;
  width: 50%;
}

div.mainwindow {
  padding-left: 10%;
  padding-right: 10%;
}

div.items > a {
  text-decoration: none;
  background-color: navy;
  border-radius: 2px;
  padding: 2% 0%;
  color: white;
  margin: 2% 20%;
  display: flex;
  justify-content: center;
}

div.items > figure > img, div.items > a {
  display: flex;
  justify-content: center;
}

figure img {
  width: 90%;
  height: 20%;
  margin: 5% auto;
}

figcaption {
  text-align: center;
}

/* NOTE: the following is for the modalwindow section */

div.modalwindow{
  /* border: dashed orange; */
  background-color: rosybrown;
  width: 100%;
  height: 100%;
}

div.item1-modalwindow, div.right-modalwindow {
  position: fixed;
  pointer-events: none;
  width: 70%;
  margin: 2%;
  display: flex;
  justify-content: center;
}

div.item1-modalwindow {
  opacity: 0;
}

div.item1-modalwindow:target {
  opacity: 1;
  pointer-events: all;
}

/* div.right-modalwindow {
  opacity: 0;
}

div.right-modalwindow:target {
  opacity: 1;
  pointer-events: all;
} */

/* NOTE: the following is for the msgblock section */
div.item1-msgblock {
  background-color: lightskyblue;
}

/* div.right-msgblock {
  background-color: lightgreen;
} */

div.item1-msgblock > h1, div.item1-msgblock > p {
  padding: 2%;
  margin-top: 0%;
  background-color: lemonchiffon;
}

/* div.right-msgblock > h1, div.right-msgblock > p {
  padding: 2%;
  margin-top: 0%;
  background-color: tan;
} */

div.msgblock> p {
  margin: 3%;
}

div.msgblock img {
  margin: 2% auto 10% 10%;
  width:30%;
  height: 30%:
}

div.item1-msgblock > a {
  text-decoration: none;
  background-color: snow;
  border-radius: 100px;
  padding: 2% 1%;
  color: black;
  margin: 15% 10% 2% 20%;
  float: right;
}

/* div.right-msgblock > a {
  text-decoration: none;
  background-color: midnightblue;
  margin-top: 0%;
  padding: 0% 1%;
  color: white;
  float: right;
  text-align: center;
} */
