body {
  background:  url("../pic/16-bit.gif") black repeat center top;
}

nav>.btn-group{
  display: block;
  width: 100%;
  margin-left: 50%;
  margin-right: auto
  padding-right: 20%;
}

#container::before {
  position: absolute;
  content: '';
  background: rgba(255,255,255, 0.5); /*partially transparent image*/
  width: 100%;
  height: 100%;
  pointer-events: none
}

#container {
  margin-left: 2%;
  backgroun-color: white;
  z-index: 1;
  opacity: 0.1;
}
