/* NOTE: PROJECT 1 */

/* NOTE: div#content */
div#content {
  position: absolute;
  /* border: 2px dashed gray; */
  width: 99%;
  overflow: auto;
  font-size: 120%;
}

div#content h1 {
  font-size: 300%;
}

div#content h3 {
  font-size: 200%;
}

/* NOTE: header */
header {
  /* border: 2px dashed black; */
  width: auto;
  overflow: auto;
}

header > img.header-logo {
  float: left;
  width: 10%;
}

header > img.header-iceland {
  float: right;
  width: 10%;
}

/* NOTE: iceland-main-content */

div.iceland-main-content {
  width: auto;
  /* border: 2px dashed aquamarine; */
  overflow: auto;
}

/* NOTE: sub main-content section block */

section.title-and-intro > h1 {
  text-align: center;
}

/* NOTE: sub main-content things-to-do block */

div.things-to-do {
  background-color: darkturquoise;
  width: auto;
  border: 2px solid black;
  overflow: auto;
}

/* NOTE: .top-row and .bottom-row */
div.top-row, div.bottom-row {
  width: auto;
  /* border: 2px dashed red; */
  overflow: auto;
}

/* NOTE: .top-row >  figure */
figure.northern-light-img {
  width: auto;
  float: left;
  overflow: auto;
}

figure.northern-light-img > figcaption, figure.hiking-img > figcaption {
  font-style: italic;
}

/* NOTE: .top-row and .bottom-row > figure > img, div.*-description */
figure.northern-light-img > img, figure.hiking-img > img{
  border: 2px solid purple;
  width: 536px;
  height: 358px;
}

div.top-row > div.northern-light-description, div.hiking-description {
  /* border: 2px dashed black; */
  overflow: auto;
  margin-right: 2%;
  margin-left: 2%;
  text-align: justify;
}

/* NOTE: .bottom-row > figure */
figure.hiking-img {
  /* border: 2px dashed gold; */
  width: auto;
  float: right;
  overflow: auto;
}


/* NOTE: previous project1 css content */

/* NOTE: upcoming-events-block */
div.upcoming-events{}

/* NOTE: newsfeed-block */
div.newsfeed > div > section{
  margin-left: 4%;
}

/* NOTE: trip-cost table block */
div.trip-cost table {
  border: 2px solid black;
  width: 40%;
  font-size: 120%;
}

div.trip-cost table th {
  background-color: palegreen;
}

/* NOTE: contact-us block */
div.contact-us {
  /* border: 2px dashed black; */
}

div.contact-us > div.contact-us-group-icons {
  /* border: 2px dashed purple; */
}

figure.phone, figure.email, figure.instagram {
  overflow: auto;
  /* border: 2px dashed blue; */
}

figure > img.img-phone, img.img-email, img.img-instagram {
  /* border: 2px dashed gold; */
  width: 5%;
  float: left;
  overflow: auto;
  margin right: 100px;;
}

figure > figcaption.link-phone, figcaption.link-email, figcaption.link-instagram {
  /* border: 2px dashed black; */
  overflow: auto;
  margin-top: 2%;
  margin-left: 3%;
  float: left;
  text-align: justify;
}

/* NOTE: footer block */
footer {

  /* border: 2px dashed pink; */
  text-align: center;
}

footer > ul {
  list-style-type: none;
}

footer > ul > li {
  display: inline;
  font-size: 140%;
}

footer > h4 {
  font-size: 90%;
}

a {
  text-decoration: none;
  color: gray;
}

/* NOTE: end of code */
